<head>
<title>
HOME PAGE
</title>
</head>
<body>
<h1>
	Welcome to my HOME PAGE!
</h1>
	<br/>
<p>
You can access my other 'first' controller pages with the following links!
</p>
<br/>
<%= link_to "SECOND PAGE", twopage_path %>
<br/>
<a href="/thirdpage"> THIRD PAGE </a>
<br/>
<a href="/passingdatapage"> Passing Data Page </a>
<br/>
<p>
You can access my other 'second' controller pages with the following links!
</p>
<a href="/secondcontrollerhomepage"> HOME PAGE </a>
<br/>
<a href="/secondcontrollersecondpage"> SECOND PAGE </a>
<br/>
<a href="/secondcontrollerthirdpage"> THIRD PAGE </a>
</body>